CREATE OR ALTER PROCEDURE sp_DangNhap
    @TaiKhoan NVARCHAR(50),
    @MatKhau  NVARCHAR(256)
AS
BEGIN
    SELECT MaNV, HoTen, ChucVu, SoDienThoai, TaiKhoan, TrangThai
    FROM NHAN_VIEN
    WHERE TaiKhoan = @TaiKhoan AND MatKhau = @MatKhau AND TrangThai = N'DangLam';
END;
GO
